package components

templ Base() {
	<html>
		<head>
			<script src="static/htmx.min.js"></script>
			<link rel="stylesheet" href="static/styles.css"/>
			<title>PlaylistPilot</title>
		</head>
		<body>
			<h1 class="text-9xl">Hello from base component!</h1>
			{ children... }
		</body>
	</html>
}
